.App {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    font-size: 1.5rem;
}

.App-content{
    position: static!important;
}

.App-content header{
    position: relative;
    z-index: 800;
}

.App-header.large {
    height: 6.2rem;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    background: transparent 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #ffffff10;
}

.App-header-container-left {
    display: flex;
}

.App-header a.App-header-link-main,
.App-header .App-header-link-main {
  font-size: 1.7rem;
  padding: 1.5rem;
  margin-left: -1.5rem;
  display: flex;
  margin-right: 1.2rem;
}

.App-header-link-main img {
    display: inline-block;
    height: 4.15rem;
    vertical-align: middle;
    margin-top: -20px;
}

.App-header.large .App-header-links {
    display: flex;
}



.App-header-container-left .a,
.App-header-container-left a {
    padding: 1.8rem 1.7rem;
    display: block;
    color: #a7a7a9;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: normal;
    text-decoration: none;
}

.App-header .a:hover,
.App-header a:hover {
    opacity: 1;
    color: #eee;
}

.App-header.large .App-header-links {
    display: flex;
}

.App-header-container-left .a,
.App-header-container-left a {
    padding: 1.8rem 1.7rem;
    display: block;
    color: #a7a7a9;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: normal;
}

.App-header-user {
    display: flex;
    align-items: center;
}

.App-header-trade-link{
    margin-right: 2.4rem;
}

.App-header .a,
.App-header a {
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

.App-header-container-right {
    display: flex;
    align-items: center;
}

.App-header-user {
    display: flex;
    align-items: center;
}

